Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
Content/For_jAMES/Grey_Sphere_Global.uasset
Content/Chrome_Sphere.uasset
Content/For_jAMES/Grey_Sphere_Global.uasset
Content/For_jAMES/Lit_Level_Design.umap
Content/VehicleAdvBP/Blueprints/VehicleBlueprint.uasset
